.darkmodeButton {
    content: 'darkmode';
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
    padding: 4px;
}

.darkmode {
    background-color: #000 !important;
    color: $not-quite-white !important;
}

.darkmode-text {
    color: $not-quite-white !important;
}

.darkmode-nav {
    background-color: $not-quite-black !important;
    border-bottom: $not-even-quite-black 3px solid;
}

.darkmode-ReadMore {
    background-color: $not-quite-black !important;
}
.darkmode-button {
    border: none !important;
    color: #fff !important;
    background-color: $not-even-quite-black !important;
}
.darkmode-darkmodeButton {
    content: 'lightmode' !important;
    background-color: $not-quite-white !important;
    color: $not-quite-black !important;
}
.darkmode-post {
    border: $not-even-quite-black 1px solid !important;
    background-color: $not-quite-black !important;
}
.darkmode-posts {
    border-left: $not-even-quite-black 1px solid !important;
}

.darkmode-footer {
    border: $not-even-quite-black 16px solid !important;
    background-color: $not-quite-black !important;
    border-right: none !important;
    border-left: none !important;
}

.darkmode-paragraph {
    color: $not-quite-white !important;
    font-weight: 300 !important;
}