.darkmodeButton {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: white solid 1px;
    font-size: 20px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
    padding: 4px;
}

.darkmode {
    background-color: $not-quite-black !important;
    color: $not-quite-white !important;
}

.darkmodeText {
    color: $not-quite-white !important;
}

.darkmodeNavbar {
    background-color: $not-quite-black !important;
    color: $not-quite-white !important;
}