footer {
    background-color: $contrast;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 60px 20px 60px;
    border-top: #34393f 16px solid;
    border-bottom: #34393f 16px solid;
}

footer p {
    display: inline;
    margin: 16px;
    color: rgb(211, 200, 200);
    font-weight: bold;
}