.game a {
    font-family: Arial, Helvetica, sans-serif;
    border: $light-border-color solid 1px;
    width: 300px;
    padding: 8px;
    color: black;
    height: 160px;
    border-radius: 6px;
    display: block;
}
.game {
    padding: 8px;
}
.game h3 {
    margin: 0;
    font-weight: normal;
}

#games {
    position: relative;
    padding: 0 50px 0 50px;
    margin: 20px 0 20px 0;
}