.games {
    margin: 0 20px 2em;
    overflow: auto;
    white-space: nowrap;
}

.game-card {
    display: inline-block;
    background-color: white;
    height: 200px;
    width: 300px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 0 20px black;
    text-decoration: none;
}

.game-card h3 {
    color: var(--less-important-font-color);
    text-align: center;
}