$border-color: #bdbdbd;
$lightgray-background: #f8f8f8;
$preview-background: rgb(238, 245, 252);
$highlight-color: rgb(77, 148, 255);

body {
    scroll-behavior: smooth;
    margin: 0;
}

.mathInput {
    width: 32px;
    height: 16px;
    padding: 2px;
    border-radius: 0;
    border: solid 1px rgb(199, 199, 199);
}
#pqFormel input, #pqFormel p {display: inline;}
#pqFormelRechner{
    background-color: $preview-background;
    border-radius: 6px;
    padding: 16px;
}

.programBox{
    padding: 6px;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    margin: 16px 0 16px 0;
}

.gist-file {
    border: none !important;
    border-bottom: solid 1px $border-color !important;
    border-top: solid 1px $border-color !important;
    border-radius: 0 !important;
}
.gist-data {
    border-radius: 0 !important;
}
.gist pre {
    background-color: $preview-background !important;
}