:root {
    --font-color: #33322f;
    --less-important-font-color: #727272;
    --contrast-font-color: #f0f0f0;
    --highlight-color: #306fce;
    --border-color: #c7c7c7;
    --second-border-color: #c7c7c7;
    --background-color: white;
    --second-background-color: #ffffff;
    --background-color-contrast: white;
    --dark-border-color: #282828;
    --slightly-transparent: #00000065;
}

[data-theme="dark"] {
    --font-color: #ebebeb;
    --less-important-font-color: #969696;
    --border-color: #282828;
    --second-border-color: #7a7a7a;
    --background-color: #000000;
    --second-background-color: #282c35;
    --background-color-contrast: rgb(20, 20, 20);
    --slightly-transparent: #ffffff65;
}

body {
    margin: 0;
    margin: auto;
    max-width: 800px;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}
