#NavHeadline{
	font-size: 2rem;
	font-weight: lighter;
	margin-bottom: 0rem;
	margin-top: 0rem;
}

nav{
	position: fixed;
	width: 100%;
	top: 0;
	border-bottom: solid 1px $borderColor;
	padding: 1rem;
	background-color: rgb(243, 243, 243);
}

nav p{color: rgb(48, 48, 48); display: inline-block;}
