#links a {
    display: inline;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px black solid;
    background-color: $lightgray-background;
    margin: 0 6px 0 6px;
}
#links {
    display: inline;
    margin: 10px 50px 2px 50px;
    float: right;
}
nav h1 {
    display: inline;
    font-size: 32px;
    margin: 0 !important;
    color: #33322f;
}
nav {
    padding: 20px;
    border-bottom: 3px $lightgray-background solid;
    margin-bottom: 32px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}