.bubble {
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-contrast);
}
.post {
    margin: 0 20px 2em 20px;
    font-family: "Mulish";
    color: var(--font-color);
}

.post p,
.post ul,
.post h1,
.post h2 {
    margin: 32px 16px;
}

.post h1 {

}
.post h2 {
    line-height: 1.75;
    font-size: 18px;
    font-weight: bold;
}

.post p, .post li {
    font-size: 18px;
}

.read-more {
    cursor: pointer;
    border: var(--highlight-color) solid 1px;
    max-width: 160px;
    margin: 16px 16px 16px auto !important;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    color: var(--highlight-color) !important;
}

.post ul {
    list-style: inside;
    padding: 0;
}

.post-head {
    padding: 10px !important;
}

.post-head h1 {
    text-align: center;
    font-size: 28px;
}
.post-head a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}
.post-head .headline {
    margin: 32px 8px;
}
.post-head .info {
    display: flex;
    justify-content: center;
    color: var(--less-important-font-color);
    border-bottom: 1px var(--border-color) solid;
    border-top: 1px var(--border-color) solid;
}

.bubble .post-head .info {
    display: flex;
    justify-content: left;
    color: var(--less-important-font-color);
}

.post-head .info p {
    display: inline;
    margin: 8px;
    font-size: 14px;
    font-weight: bold;
}

.post img {
    width: 100%;
}

pre {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 6px;
}
code {
    border-radius: 4px;
}
