#posts {
    margin: 0 0 0 20px;
    border-left: 1px solid $border-color;
}

.post {
    border-radius: 8px;
    border: 1px solid #e9e9e9;
    background-color: #fbf9f7;
    margin: 0 20px 2em 20px;
    padding: 1px 0 1px 0;
}

.ReadMore {
    cursor: pointer;
    border: $blue-highlight-color solid 1px;
    max-width: 160px;
    margin: 16px 16px 16px auto !important;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    color: $blue-highlight-color !important;
    background-color: $blue-background-color;
}

.test {
    height: 40px;
    width: 40px;
    background-color: black;
    float: right;
}

.postContant{margin-top: 32px;}
pre span{font-size: 16px;}

.post ul {
    margin: 30px 0 30px 0;
}

.postHead {
    padding: 10px !important;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(117, 117, 117);
}

.mathInput {
    width: 32px;
    height: 16px;
    padding: 2px;
    border-radius: 0;
    border: solid 1px rgb(199, 199, 199);
}
#pqFormel input, #pqFormel p {display: inline;}
#pqFormelRechner{
    background-color: $lightblue-background;
    border-radius: 6px;
    padding: 16px;
}

.programBox{
    padding: 6px;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    margin: 16px 0 16px 0;
    background-color: white;
}

.gist-file {
    border: none !important;
    border-bottom: solid 1px $border-color !important;
    border-top: solid 1px $border-color !important;
    border-radius: 0 !important;
}
.gist-data {
    border-radius: 0 !important;
}
.gist pre {
    background-color: $lightblue-background !important;
}