$socialIconSize: 50px;


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
right: 0;
top: 0;
display: inline;
float: right;
margin-right: 2rem;
}

/* Style the icon bar links */
.icon-bar a {
text-align: center;
padding: 8px;
transition: all 0.3s ease;
color: white;
font-size: 20px;
display: inline-block;
}

.fa{
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size:inherit;
text-rendering:auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
background-color: rgba(110, 110, 110, 0.432);
}

.github {
background: rgb(255, 255, 255);
}
.thingiverse {
background: rgb(48, 212, 253);
}


.thingiverse-icon{
content: url(/assets/images/icons/icons8-thingiverse.svg);
width: $socialIconSize;
}
.github-icon{
content: url(/assets/images/icons/icons8-github.svg);
width: $socialIconSize;
}