---
layout: default
---

<style>
    body {
        background-color: var(--background-color-contrast);
    }
</style>

<div class="post">
    <div class="post-head">
        <h1>{{ page.title }}</h1>
        <div class="info">
            <p>{{ page.date | date: "%d-%m-%Y" }}</p>
            <p>
                {% capture words %}
                    {{ content | number_of_words | minus: 180 }}
                {% endcapture %}

                {% assign minutes = words | plus: 150 | divided_by: 150 %}

                {% if minutes <= 1 %}
                    {{ 'Less than a minute to read' }}
                {% else %}
                    {{ words | plus: 150 | divided_by: 150 | append: ' minutes to read' }}
                {% endif %}
            </p>
            <p>language: {{ page.language }}</p>
        </div>
    </div>

    {{ content }}
</div>